<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/update-todo">
        <input type="hidden" id ="todoId" name="todoId" value="<%= todo._id %>">
        <input type="text" id ="todoTitle" name="todoTitle" value="<%= todo.title %>">
        <button type="submit">Update todo</button>
    </form>
</body>
</html>